ul{
    padding: 0;
    text-align: center;
}
li{
    display: inline;
    margin-right: 10px;
    color:blue;            
}
#borda{
    border: 2.5px solid rgb(83, 62, 141);
    color: rgb(255, 255, 255);
    font-style: inherit;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    background-color:rgb(112, 88, 177) ;
    border-radius: 10px;
}